<!-- 1st row verticaly centered text in the square columns -->
<div class = "row">
<button id="click">Click Me!</button>
</div>


<div class="square" id = "1">
    <div class="content">
        <div class="table">
            
        </div>
    </div>
</div>
<div class="square" id = "2">
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>
<div class="square" id = "3" >
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>

<!-- 2nd row verticaly centered images in square columns -->

<div class="square" id = "4">
    <div class="content">
        <div class="table">
            
        </div>
    </div>
</div>
<div class="square" id = "5">
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>
<div class="square" id = "6">
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>

<div class="square" id = "7">
    <div class="content">
        <div class="table">
            
        </div>
    </div>
</div>
<div class="square" id = "8">
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>
<div class="square" id = "9">
    <div class="content">
        <div class="table">
            
            </div>
        </div>
    </div>
</div>